@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark mode custom variant */
@custom-variant dark (&:is(.dark *));

/* Theme variables inline */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* Root variables - HSL format */
:root {
  --radius: 0.625rem;

  --background: 0 0% 98%;
  --foreground: 240 7% 6%;
 
  --card: 0 0% 100%;
  --card-foreground: 0 0% 5%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 5%;

  --accent: 210 15% 80%;
  --accent-hover: 210 15% 90%;
  --accent-active: 210 15% 70%;
  --accent-foreground: 0 0% 10%;

  --primary: 270 100% 64%;
  --primary-hover: 270 100% 78%;
  --primary-foreground: 0 0% 100%;
  --secondary: 210 40% 20%;
  --secondary-foreground: 0 0% 95%;
  --muted: 0 0% 96%;
  --muted-foreground: 0 0% 45%;

  --accent-foreground: 0 0% 5%;
  --destructive: 0 84% 60%;
  --destructive-foreground: 0 0% 100%;

  --border: 0 0% 90%;
  --input: 0 0% 90%;
  --ring: 0 0% 5%;

  --chart-1: 12 76% 61%;
  --chart-2: 173 58% 39%;
  --chart-3: 197 37% 24%;
  --chart-4: 43 74% 66%;
  --chart-5: 27 87% 67%;
}

/* Dark mode variables */
.dark {
  --background: 227 13% 14%;
  --foreground: 213 31% 91%;

  --card: 0 0% 5%;
  --card-foreground: 0 0% 95%;
  --popover: 0 0% 5%;
  --popover-foreground: 0 0% 95%;

  --accent: 210 10% 40%;
  --accent-hover: 210 10% 40% / 20%;
  --accent-active: 210 10% 30%;
  --accent-foreground: 0 0% 95%;

  --primary: 270 100% 64%;
  --primary-foreground: 0 0% 5%;
  --secondary: 210 40% 60%;
  --secondary-foreground: 0 0% 95%;
  --muted: 0 0% 15%;
  --muted-foreground: 0 0% 65%;

  --accent-foreground: 0 0% 95%;
  --destructive: 0 62% 30%;
  --destructive-foreground: 0 0% 95%;

  --border: 0 0% 15%;
  --input: 0 0% 15%;
  --ring: 0 0% 80%;
}

/* Base styles */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground;
    font-family: var(--font-geist-sans), sans-serif;
    height: 100vh;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 9px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-background;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-secondary/65 hover:bg-secondary;
  }
}